*{margin: 0; padding: 0;} 
nav.navbar.navbar-light.bg-faded {
    margin: 0;
    padding: 0;
    height: 100px;
    background-color: white;
}

a.nav-link {
    font-family: segoe ui;
    font-size: 13px;
    text-transform: uppercase;
    color: #101010;
    line-height: 85px;
}

li.nav-item {
    margin: 0 17px;
    padding: 0;
}*/
/*//////////////////////////*/
/*@media (max-width:576px)
{
    * {}

img.anh {
    margin-top: 50px;
    padding: 30px;
}

.menutop li.nav-item {
    display: inline;
    float: none;
}

.menutop .container ul.nav.navbar-nav.float-xs-right {
    float: none;
    text-align: center;
    background: white;
    width: 109%;
    padding: 0 15px;
    margin: 0px -15px;
}

.menutop li.nav-item {
    display: inline;
    margin: 0 0;
}

.menutop a.nav-link {
    display: inline;
    line-height: 27px;
        margin-right: 10px;
}

.menutop a.navbar-brand {
    display: block;
    text-align: center;
    width: 109%;
}

.tt h2 {
    font-size: 35px;
}

.tt p {
    width: 165px;
}

body,html {
    width: 100%;
    height: 100%;
}
}
/*///////////////////*/
.khoitt1 {
    width: 100%;
    height: 100%;
    background: #e9585f;
}

body,html {
    width: 100%;
    height: 100%;
}

a.navbar-brand {
        margin: 0px -13px;
    width: 370px;
    padding: 0px 0px;
    background-color: white;
}

.khoitt1:before {
    content: '';
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: #e4555b;
    z-index: 1; 
}

.tt {
    z-index: 2;
    position: relative;
    padding-top: 140px;
}

img.anh {
    width: 220px;
    border-radius: 50%;
    margin-bottom: 30px;
}

h2 {
    text-transform: uppercase;
    font-size: 40px;
    color: white;
    margin-bottom: 22px;
}

p {
    color: #373a3c;
    font-size: 16px;
    line-height: 20px;
    margin: auto;
    width: 24%;
    padding-bottom: 22px;
}

a.nuthire.btn.btn-primary {
    background: black;
    width: 180px;
    border: none;
    border-radius: 0px;
}*/

/*////////////////////////////////////////////////*/


*{margin: 0; padding: 0;}

.noidung {
    background-color: #e9e9e9;
}

.texttieude small {
    font-size: 15px;
    padding-top: 15px;
    display: block;
    padding-bottom: 49px;
}

.texttieude h2.display-4 {
    font-size: 34px;
    padding-top: 50px;
}

.menutop a.navbar-brand {
    padding-top: 30px;
}

.navbar-light.menutop .navbar-nav a.nav-link {
    color:#b3b3b3;
    padding: 46px 15px 0px 15px;
    font-weight: 300;
    font-size: 18px;
    font-family: 'Pridi', serif;
}

.navbar-light.menutop .navbar-nav a.nav-link:hover {
    color: white;
}

nav.navbar.navbar-light.bg-faded.menutop {
    background-color: transparent;
}

img.logonho {
    height: 37px;
}

a.btn.btn-outline-secondary.nutxem {
    border: 3px solid #ca2424;
    border-radius: 0px;
}

a.btn.btn-outline-secondary.nutxem:hover {
    background-color: white;
    color: black;
}

.phananh img.img-fluid {
    padding-right: 10px;
    height: 100%;
}

.khongcokhoangtrang [class*='col-']
{
    padding-right: 0px;padding-left: 0px;
} 
/*Dùng để xóa các padding của bootstrap col-sm-...*/

.khongcokhoangtrang .media {
    margin-right: 15px;
    background-color: white;
    font-size: 16px;
    height: 100px;
    margin-bottom: 100px;   
}

@media (max-width: 576px) {
    *{}
button.navbar-toggler.hidden-sm-up {
    float: right;
    background-color: white;
    border-radius: 0px;
}

nav.navbar.navbar-light.bg-faded.menutop {
    background-color: #393e43;
}

.menutop img.logonho {
    width: 50%;
    height: auto;
}

.menutop a.navbar-brand {
    padding: 5px 0px;
}

.navbar-light.menutop .navbar-nav a.nav-link {
    padding: 5px;
}

.carousel-caption h2.display-4 {
    font-size: 20px;
}
}

/*.chuamenu {
    position: fixed; làm menu theo kiểu css
    top: 0;
    z-index: 10;
}