*{margin: 0; padding: 0;} 


nav.navbar.navbar-light.bg-faded {
    padding: 0;
    margin: 0;
    height: 100px;
}


a.nav-link {
    text-transform: uppercase;
    font-size: 13px;
    font-family: segoe ui;
}

li.nav-item {
    padding: 0;
    margin:0; 
    margin-left: 17px;
    margin-right: 17px;
    margin-top: 33px;
}


@media (max-width: 576px){
    *{}
    
    /*CSS cho phần menu*/

    .menutop ul.nav.navbar-nav.float-sm-right {
        text-align: center;
    }

    .menutop li.nav-item a.nav-link {
        display: inline;
    }

    .menutop li.nav-item {
        float: none;
        display: inline;
        margin: 0 0 ;
    }
    
    .menutop a.navbar-brand {
        text-align: center;
        width: 100%;
        display: block;
    }
    
    
    /*.menutop ul.nav.navbar-nav.float-sm-right {
        float: none;
        text-align: center;
    }

    .menutop li.nav-item {
        display: inline;
        margin: 0 0;
    }

    .menutop a.nav-link {
        line-height: 28px;
        display: inline;
    }

    .menutop a.navbar-brand {
        width: 100%;
        text-align: center;
        display: block;
    }*/


    /*Xong CSS cho phần menu*/
}