*{margin: 0; padding: 0;}

.khoittnho {
    margin-bottom: 30px;
}

.khoittnho p {
    font-size: 13px;
    line-height: 20px;
    color: #636363;
}

span.motaquatrinh {
    font-size: 20px;
    font-family: segoe ui;
    margin-bottom: 15px;
    display: block;
}

h3.tieudecap3 {
    font-size: 20px;
    font-family: segoe ui light;
    color: #e35855;
    margin-bottom: 15px;
}

span.dam {
    font-weight: bold;
}

h2.tieudecap2 {font-weight: normal;font-family: segoe ui light;text-transform: uppercase;font-size: 25px;margin-bottom: 15px;}

.tieudeto{
    margin-top: 120px;
    margin-bottom: 60px;
}

.tieudeto h1 {
    background: url(image/42.jpg) no-repeat left bottom;
    display: inline;
    padding-bottom: 10px;
}

a.nuthire.btn.btn-primary {
    border: none;
    background: black;
    width: 180px;
    text-transform: uppercase;
    border-radius: 20px;
}

.tt p {
    padding-top: 10px;
    font-size: 15px;
    width: 47%;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}

.tt h2.display-4 {
    font-size: 50px;
    color: white;
}

.tt {
    z-index: 4;
    position: relative;
    padding-top: 20%;
}

.tt img {
    border-radius: 50%;
    padding-bottom: 20px;
    width: 250px;
} 

html,body {
	width: 100%;
	height: 100%;
}

nav.navbar.navbar-light.bg-dark.navbar-fixed-top {
    background-color: white;
    padding: 0;
    margin: 0;
    height: 100px;
    /*position: absolute;
    z-index: 3;*/
}

a.nav-link {
    text-transform: uppercase;
    font-size: 13px;
    font-family: segoe ui;
}

li.nav-item {
    padding: 0;
    margin:0; 
    margin-left: 17px;
    margin-right: 17px;
    margin-top: 33px;
}

a.navbar-brand {
    padding: 0;
    margin: 0;
}

/*CSS cho khoi tin*/

.khoittin {
    background-color: #e9585f;
    width: 100%;
    height: 100%;
    position: relative;
}

.khoittin:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: #e4555b;
    width: 50%;
    height: 100%;
    z-index: 2;
}

/*Xong CSS cho khoi tin*/

@media (max-width: 576px){
    *{}

    html,body {
	width: 100%;
	height: 100%;
	}
    /*CSS cho phÃƒÆ’Ã‚Â¡Ãƒâ€šÃ‚ÂºÃƒâ€šÃ‚Â§n menu*/

    /*.menutop ul.nav.navbar-nav.float-sm-right {
        text-align: center;
    }

    .menutop li.nav-item a.nav-link {
        display: inline;
    }

    .menutop li.nav-item {
        float: none;
        display: inline;
        margin: 0 0 ;
    }

    .menutop a.navbar-brand {
        text-align: center;
        width: 100%;
        display: block;
    }
    */
    
    .menutop ul.nav.navbar-nav.float-xs-right {
        float: none;
        text-align: center;
    }

    .menutop li.nav-item {
        display: inline;
        margin: 0 0;
    }

    .menutop a.nav-link {
        line-height: 28px;
        display: inline;
    }

    .menutop a.navbar-brand {
        width: 100%;
        text-align: center;
        display: block;
    }


    /*Xong CSS cho phÃƒÆ’Ã‚Â¡Ãƒâ€šÃ‚ÂºÃƒâ€šÃ‚Â§n menu*/
	
	/*CSS thong tin*/

	ul.nav.navbar-nav.float-xs-right {
		background: white;
		width: 109%;
		display: block;
		margin: 0;
		padding-left: 75px;
		margin-right: -15px;
		border-top: 2px solid gray;
	}

	.tt h2.display-4 {
    font-size: 45px;
    padding-top: 15px;
	}

	.tt img {
		width: 160px;
		margin-top: 160px;
	}
	
	.tt p {
		width: 240px;
	}
	/* Xong CSS thong tin*/

    .tieudeto h1 {
    font-size: 29px;
    }
}